.container {
  width: 90%;

  /* max-width: 600px; */
  max-width: 1000px;
  margin: 0 auto;

  &.tight {
    /* max-width: 450px; */
    max-width: 800px;
  }

  &.wide {
    max-width: 760px;
  }
}
